.modal_dialog {
	display: none;
	position: fixed;
	left: 0; top: 0; z-index: 1;
	width: 100%; height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.3);
}

.alert_dialog { z-index: 999 !important; }

.modal_dialog .modal_content
{
	background-color: #fefefe;
	margin: 10% auto;
	padding: 0;
	border: 1px solid #888;
}

.modal_dialog .modal_header { 
	font-size: 12px; padding: 8px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;  
}
.modal_dialog .modal_header .dialog_close {
	float: right;
	width: 16px; height: 16px;
	
	background: url(../img/ic_close_small.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	cursor: pointer;
}

.modal_dialog .modal_article { background-color: #F0F0F0; padding: 10px; }
.modal_dialog .modal_footer { background-color: #F0F0F0; padding: 10px; text-align:right; }
.modal_dialog .modal_footer button { padding: 5px 10px; cursor: pointer; }

/* File Open Dialog */
#FILE_DESC_AREA > div { display: none; margin-top: 10px; font-size: 14px; }
#FILE_DESC_AREA > div label { font-weight: bold; width: 80px; display: inline-block; }
#FILE_DESC_AREA > div img { width: 100%; height: auto; margin-top: 10px; }

/* Parameter Dialog */
.param_form div.form_group > h3 { position:absolute; padding: 0; margin: 0; } 
.param_form div.form_group > h3 span.group_header { position: relative; top: -23px; background-color: #F0F0F0; display:inline; padding: 0 5px; font-size: 12px; font-weight: normal; }
.param_form div.form_group { border: 1px solid #DCDCDC; margin-top: 15px; padding: 10px 10px 5px 10px; }
.param_form div.form_group > p { margin: 5px 0; font-size: 12px; }
.param_form label { width: 110px; display:inline-block; }
.param_form input[type=text] { width: 100px; }
.param_form select { width: 100px; }

/* Color Picker Dialog */
#CPDLG_PREVIEW_COLOR { border: 1px solid #E3E3E3; width: 80px; height: 20px; margin: 0 auto 10px auto; }

#CPDLG_MANUAL_INPUT { text-align:center; }
#CPDLG_MANUAL_INPUT input { width: 150px; border: 1px solid #D3D3D3; border-right: none; }
#CPDLG_MANUAL_INPUT input, #CPDLG_MANUAL_INPUT button { height: 28px; padding: 1px 6px; box-sizing: border-box; } 

/* Help Dialog */
#HELP_DIALOG .modal_article p { margin: 10px 0; }
#HELP_DIALOG .modal_article p.desc { font-size: small; line-height: 1.4; }

/* Progress Dialog */
#PROGRESS_DIALOG .loader {
    border: 16px solid #00A1F1;
    border-top: 16px solid #146EB4;
    border-radius: 50%;
    width: 50px; height: 50px;
    margin: 0 auto;
    animation: spin 1s linear infinite;
}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
#PROGRESS_DIALOG .modal_article { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#PROGRESS_DIALOG_TITLE { text-align:center; padding-top: 10px; }

#REQ_UPLOAD_TITLE { margin-top: 10px; }
#REQ_UPLOAD_PROGRESS { width: 100%; background-color: grey; box-sizing: border-box; text-align:center; margin-top: 5px; display:none; }
#REQ_UPLOAD_PROGRESS_BAR { width: 0%; background-color: green; color: white; padding: 5px 0; }

/* Alert Dialog */
#ALERT_DIALOG .modal_article { font-size: 12px; }
#ALERT_DIALOG .modal_article pre { 
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Each Dialog Size */
#FILE_OPEN_DIALOG .modal_content { width: 350px; }
#FS_PARAM_DIALOG .modal_content { width: 300px; }
#COLOR_PICKER_DIALOG .modal_content { width: 300px; }
#HELP_DIALOG .modal_content { width: 400px; }
#PROGRESS_DIALOG .modal_content { width: 250px; }
#ALERT_DIALOG .modal_content { width: 400px; }

